.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
  max-width: 1300px;
  margin: 5em auto;
  font-family: var(--sec-font);
  background-color: var(--third-color);
  border-radius: 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.left-content {
  flex: 1;
  text-align: left;
  padding: 2.7rem 2rem;
  border-radius: 12px;
}

.right-content {
  flex: 1;
  text-align: left;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: left;
}

.left-content h1 {
  font-size: 4.5rem;
  color: #8B4513;
  font-weight: bold;
}

.left-content h3 {
  font-size: 1.3rem;
  color: #D2691E;
  margin-bottom: 1rem;
}

.right-content p, .left-content p{
  font-size: 22px;
  line-height: 30px;
  text-align: left;
}

.underline{
  text-decoration: underline;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    text-align: center;
    margin: 40px;
    gap: 0;
  }

  .left-content{
    padding-bottom: 0;
  }

  .left-content, .right-content {
    width: 100%;
  }
}

@media (max-width: 450px){
  .content{
    padding: 2rem;
  }

  .left-content h1{
    font-size: 50px;
    text-align: center;
  }

  .left-content h3{
    text-align: center;
  }

  .left-content{
    padding-bottom: 0;
  }

  .left-content p, .right-content p{
    font-size: 20px;
    padding: 0px;
    text-align: center;
  }
}